<section class="section-content container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <h2>Gestão de Usuários</h2>

  <div *ngIf="isAdmin()" class="mb-3">
    <button class="btn btn-success" (click)="openCreateUserModal()">
      <i class="bi bi-person-plus"></i>
      Novo Usuário
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead class="table-dark">
        <tr class="text-center">
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Permissão</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users" class="text-center">
          <td>{{ u.id }}</td>
          <td>{{ u.name }}</td>
          <td>{{ u.email }}</td>
          <td>
            <span *ngIf="u.role.toLowerCase() === 'admin'; else notAdmin" class="badge bg-primary">Admin</span>
            <ng-template #notAdmin>
              <span class="badge bg-secondary">User</span>
            </ng-template>
          </td>
          <td>
            <div class="d-flex gap-2 align-items-center justify-content-center">
              <button
                class="btn btn-sm btn-danger"
                *ngIf="isAdmin()"
                (click)="confirmDelete(u.id)"
              >
                <i class="bi bi-trash3"></i>
                Excluir
              </button>
              <button
                class="btn btn-sm btn-primary"
                *ngIf="isAdmin()"
                (click)="editUser(u)">
                <i class="bi bi-pencil"></i>
                Editar
              </button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-user-modal
    *ngIf="showUserModal"
    (onSave)="createUser($event)"
    (onCancel)="showUserModal = false">
  </app-user-modal>
</section>

