<app-header></app-header>
<main class="content flex-grow-1 p-4">
  <div class="mb-4">
    <h2 class="text-center">
      <strong>
        Equipamentos em Homologação
      </strong>
    </h2>
  </div>
  <div class="container mt-4">
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div *ngIf="equipamentos.length > 0; else noEquipment">
      <div class="table-responsive shadow-sm rounded">
        <table class="table table-striped table-hover align-middle">
          <thead class="table-dark">
            <tr>
              <th>Código</th>
              <th>Posto</th>
              <th>Razão de Uso</th>
              <th>Versão</th>
              <th>Motivo</th>
              <th>Data Limite</th>
              <th>Responsável</th>
              <th>Status</th>
              <th *ngIf="isAdmin()" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let eq of equipamentos">
              <td>{{ eq.codigo }}</td>
              <td>{{ eq.nome_do_posto }}</td>
              <td>{{ eq.razao_uso || '-' }}</td>
              <td>{{ eq.versao_solucao }}</td>
              <td>{{ eq.descricao }}</td>
              <td>{{ eq.data_limite ? (eq.data_limite | date:'dd/MM/yyyy') : '-' }}</td>
              <td>{{ eq.responsavel }}</td>
              <td>
                <span
                  *ngIf="eq.status === 'APROVADO'; else elseStatus"
                  class="badge bg-success">{{ eq.status }}</span>
                <ng-template #elseStatus>
                  <span
                    *ngIf="eq.status === 'REPROVADO'; else pending"
                    class="badge bg-danger">{{ eq.status }}</span>
                  <ng-template #pending>
                    <span class="badge bg-warning text-dark">{{ eq.status }}</span>
                  </ng-template>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #noEquipment>
      <div class="alert alert-info mt-4 text-center">
        Nenhum equipamento cadastrado até o momento.
      </div>
    </ng-template>
  </div>

</main>
