<div class="portal-container">

  <h1 class="portal-title">
    Portal de Aplicações | Credenciados
  </h1>

  <div class="apps-grid">

    <div class="app-card" (click)="openVisionManager()">
      <div class="icon">⚙️</div>
      <div class="title">Visão Gerencial</div>
    </div>

    <div class="app-card" (click)="openLabManager()">
      <div class="icon">🖥️</div>
      <div class="title">LabManager</div>
    </div>

    <div class="app-card" (click)="openStandin()">
      <div class="icon">📦</div>
      <div class="title">Standin Web</div>
    </div>

    <div class="app-card" (click)="openDS()">
      <div class="icon">⚙️</div>
      <div class="title">DS</div>
    </div>

    <div class="app-card" (click)="openUpdateTracker()">
      <div class="icon">⚙️</div>
      <div class="title">Update Tracker</div>
    </div>



  </div>

</div>
